.footer {
    background-color: #343a40;
    padding: 20px;
    text-align: center;
  }
  
  .footer-icons a {
    font-size: 1.5rem;
  }
  
  .footer-icons a:hover {
    color: #007bff;
  }
  
  .footer h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.footer a:hover {
    color: #f8c471;
    text-decoration: underline;
}

.input-group .form-control {
    border-radius: 0;
}

.input-group .btn-outline-light {
    border-radius: 0;
}
